---
import { Image } from 'astro:assets';
import Kids from '@/images/niñas.jpg';
import StarIcon from '@/icons/StarIcon.svg';
import BookIcon from '@/icons/BookIcon.svg';
import HeartIcon from '@/icons/HeartIcon.svg';

const items = [
    {
        title: 'Valores Cristianos',
        description:
            'Formamos niños y niñas con valores sólidos como el respeto, la honestidad, la bondad y el amor al prójimo, siguiendo enseñanzas cristianas de forma amable y respetuosa.',
        icon: HeartIcon,
        backgroundColor: 'bg-aula-blue/40',
        iconColor: 'bg-aula-blue',
        textColor: 'text-blue-700',
    },
    {
        title: 'Método Montessori',
        description:
            'Permitimos que cada niño aprenda a su propio ritmo a través de la exploración y el descubrimiento, respetando sus periodos sensibles y fomentando su independencia.',
        icon: BookIcon,
        backgroundColor: 'bg-aula-green/40',
        iconColor: 'bg-aula-green',
        textColor: 'text-green-700',
    },
    {
        title: 'Desarrollo Integral',
        description:
            'Complementamos la educación con actividades artísticas, físicas e idiomas, formando niños felices, seguros y preparados para afrontar los retos del futuro.',
        icon: StarIcon,
        backgroundColor: 'bg-aula-pink/40',
        iconColor: 'bg-aula-pink',
        textColor: 'text-pink-700',
    },
];
---

<section class="relative overflow-hidden">
    <div
        class="bg-aula-yellow absolute top-0 right-16 h-64 w-64 -translate-y-1/2 transform rounded-full opacity-80"
    >
    </div>
    <div
        class="bg-aula-green absolute bottom-0 left-16 h-64 w-64 translate-y-1/2 transform rounded-full opacity-80"
    >
    </div>

    <div class="container">
        <h2 class="title">Nuestro Enfoque Educativo</h2>

        <div class="grid grid-cols-1 items-center gap-10 md:grid-cols-2">
            <div class="order-2 md:order-1">
                <div class="space-y-6">
                    {
                        items.map((item, index) => {
                            return (
                                <div
                                    class={`${item.backgroundColor} animate-fade-in-up animate-duration-1000 rounded-xl p-6 transition-all hover:-translate-y-1 hover:shadow-xl`}
                                    style={`animation-delay: ${index * 0.5}s`}
                                >
                                    <div class="mb-4 flex items-center gap-2">
                                        <div
                                            class={`${item.iconColor} rounded-lg p-2`}
                                        >
                                            <item.icon class="h-4 w-4" />
                                        </div>
                                        <h3 class="font-display text-xl font-bold">
                                            {item.title}
                                        </h3>
                                    </div>

                                    <p class="text-gray-700">
                                        {item.description}
                                    </p>
                                </div>
                            );
                        })
                    }
                </div>
            </div>

            <div
                class="animate-fade-in-down animate-duration-[2s] order-1 flex justify-center md:order-2"
            >
                <div class="relative mb-4 max-w-md">
                    <Image
                        src={Kids}
                        alt="Niños aprendiendo con método Montessori"
                        class="mb-4 aspect-[4/5] h-full w-full rounded-xl shadow-xl transition-all hover:-translate-1"
                    />

                    <!-- Decoración -->
                    <div
                        class="border-aula-yellow absolute -right-4 -bottom-4 -z-10 h-full w-full rounded-xl border-4"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
